<!-- menu -->

<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper white accent-4">
      <div class="container">
        <div class="row">
        <a class="brand-logo" href="#">
          <img class="my-logo" src="assets/resources/images/logo.png" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">

         <li><a [routerLink] = "'cadastro'" class="flow-text blue-text">Novo Drink</a></li>
         <li><a [routerLink] = "'consulta'" class="flow-text blue-text">Buscar Drink</a></li>

        </ul>
      </div>
    </div>
    </div>
  </nav>


</div>

<!-- fim menu -->

